<h1 class="pt-10 flex items-center justify-center">New Restaurant</h1>

<div class="pt-10 w-auto flex items-center justify-center">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: %w[chinese italian japanese french belgian] %>
    <%= f.button :submit "Create Restaurant", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-secondary mt-3" %>
